---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'

---

<DefaultLayout title="Oak and Fern Psychotherapy">
  <Hero />
  <div class="py-14 px-10 flex place-content-center">
    <div class="max-w-prose">
      <h2 class="mb-10 text-6xl">About Us</h2>
     
      <p class="leading-7 pb-3">Have you experienced traumatic events, chronic stressors, or interpersonal distress that has impacted your view of self, others, and the world around you? Do you find yourself protective in relationships due to fear of getting hurt or rejected? You may be feeling confused, frustrated, or lost. Guess what? You make sense. When we slow down and listen, you make sense. Our therapeutic aim at Oak & Fern is to support you with effective exploration and integration of your experiences, foster insight and understanding, and implement real changes, so that you can experience healing in ways that align with your values and unique intersecting identities.</p><br>


      <p class="leading-7 pb-3">People make sense. We place high priority on the therapeutic relationship being a safe place to explore your complex experience with nuance, curiosity, and without judgement. Because, when we slow down and listen, people make sense. We look forward to potentially meeting with you and helping you see why you, too, make sense and deserve healing.</p><br>
        
        
      <p class="leading-7">Oak and Fern psychotherapy is a husband-and-wife psychologist duo who offer individual psychotherapy in Oregon. Services are available via telehealth and in-person.
      </p>
    </div>
  </div>
  <div class="py-14 px-20 md:px-24 location">
    <h3 class="mb-8 white">Where to Find Us</h3>
    <div class="location grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 lg:grid-row-2 gap-8">
      <div class="p-8 md:col-span-2 flex flex-col lg:flex-row lg:row-span-2 rounded-2xl">
        <div>
          <p class="location-heading big">Kristin Square Office Building</p>
          <p class="location-heading">Oak & Fern Psychotherapy, LLC</p>
          <p class="location-heading">9500 SW Barbur Blvd, Suite #110</p>
          <p class="location-heading">Portland, OR 97219</p>
        </div>
        <iframe class="md:place-self-center md:pt-2 lg:justify-self-end" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1399.3290791714526!2d-122.71460847528074!3d45.45654425773125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950b6648a73d0d%3A0x1a07667e18f6af91!2s9500%20SW%20Barbur%20Blvd%20%23110%2C%20Portland%2C%20OR%2097219!5e0!3m2!1sen!2sus!4v1735830714989!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="location-info rounded-2xl">Free, ample on-site parking for clients<br><br>
        Designated waiting room reserved just for Oak & Fern clients<br><br>
        Wheelchair accessible from the level one lobby and entry<br>
      </div>
      <div class="location-info lg:col-start-3 rounded-2xl">Park in the back of the building and enter on level one. Once in the first floor lobby, take the hallway on your right, and we are located on the right hand side.</div>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  div.darkmode {
    background-color: var(--background) ;
  }
  div {
    background-color: var(--primary-background);
  }

  .location {
    background-color: #00563B;
  }
  .location-info {
    padding: 2rem;
  }
  .big {
    line-height: 2rem;
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: .5rem;
  }
  .white {
    color: #F3F3F2;
  }

</style>

