---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'

---

<DefaultLayout title="Oak and Fern Psychotherapy">
  <Hero />
  <div class=" flex place-content-center">
    <div class="max-w-prose">
      <h2 class="mb-10 text-6xl">About Us</h2>
     
      <p class="leading-7 pb-3">Have you experienced traumatic events, chronic stressors, or interpersonal distress that has impacted your view of self, others, and the world around you? Do you find yourself protective in relationships due to fear of getting hurt or rejected? You may be feeling confused, frustrated, or lost. Guess what? You make sense. When we slow down and listen, you make sense. Our therapeutic aim at Oak & Fern is to support you with effective exploration and integration of your experiences, foster insight and understanding, and implement real changes, so that you can experience healing in ways that align with your values and unique intersecting identities.</p><br>


      <p class="leading-7 pb-3">People make sense. We place high priority on the therapeutic relationship being a safe place to explore your complex experience with nuance, curiosity, and without judgement. Because, when we slow down and listen, people make sense. We look forward to potentially meeting with you and helping you see why you, too, make sense and deserve healing.</p><br>
        
        
      <p class="leading-7">Oak and Fern psychotherapy is a husband-and-wife psychologist duo who offer individual psychotherapy in Oregon. Services are currently offered via telehealth, with intent for in-person options to be available in SW Portland area in December 2024/January 2025. 
      </p>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  div {
    background-color: #F7F5F1;
  }
  div.darkmode{
    background-color: #252b12;
  }
</style>

