---

import DefaultLayout from '../layouts/DefaultLayout.astro'
const evals = ['anxiety', 'depression', 'trauma', 'obssessive-compulsive disorder (ocd)', 'personality disorder', 'add/adhd', 'ptsd']

---

<DefaultLayout>
  <section class="py-14 px-10 flex flex-col gap-8">
    <h1>Services</h1>
    <h2 class="text-2xl">Individual Psychotherapy & Psychological Testing</h2>
    <p>Both of our clincians, Dr. Nick and Dr. Whit, offer psychotherapy and pyschological testing and evaluation in the following:</p>
    <ul class="tags">
      {evals.map((test) => (
        <li class="tag">{test}</li>
      ))}
    </ul>
    <div class="flex flex-col md:flex-row gap-8">
      <div class="service-background rounded-2xl p-3">
        <h3 class="w-full pb-5">Approaches</h3>
          <ul class="list-none text-wrap">
            <li>Psychodynamic Therapy</li>
            <li>Acceptance and Commitment (ACT)</li>
            <li>Cognitive Behavioral Therapy (CBT)</li>
            <li>Exposure Response Prevention (ERP)</li>
            <li>Dialectical (DBT)</li>
            <li>Eye Movement Desensitization & Reprocessing Therapy (EMDR)</li>
            <li>Humanistic Therapy</li>
          </ul> 
      </div>
      <div class="service-background rounded-2xl p-3">
        <h3 class="w-full pb-5">Insurance Accepted</h3>
          <ul class="list-none">
            <li>Sliding Scale</li>
            <li>Aetna</li>
            <li>Blue Cross Blue Shield/Regence</li>
          </ul> 
      </div>
      <div class="service-background rounded-2xl p-3">
        <h3 class="w-full pb-5">Fees</h3>
          <ul class="list-none">
            <li>60 Minute Initial Intake: $295</li>
            <li>45 Minute Session: $235</li>
            <li>60 Minute Session: $265</li>
          </ul> 
      </div>
    </div>
  </section>
</DefaultLayout>
<style>
  .service-background {
    background-color: var(--primary-background);
  }
  .service-background.darkmode {
    background-color: var(--background) ;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #00563B;
    color: #F3F3F2;
  }
</style>