---
import CallToAction from './CallToAction.astro'
import { Icon } from 'astro-icon/components'
---

<footer>
  <CallToAction />
  <section class="py-8 footer">
    <div class="container flex flex-col md:flex-row gap-12 flex-shrink-0">
      <div class="w-full">
        <h4 class="pb-4">Dr. Nicholas Schollars, PsyD & Dr. Whitney Standal Schollars, PsyD</h4>
        <p><a href="mailto:oakandfernpsychotherapy@protonmail.com" target="_blank">Contact</a><br>
          <a href="https://www.oakandfernpsychotherapy.com/client-portal-api/practice-website-uploads/309414" target="_blank">Notice of Privacy Practices</a><br>
          <a href="https://www.cms.gov/nosurprises" target="_blank">No Surprises Act</a><br>
          You have the right to receive a Good Faith Estimate of what your services may cost.<br>
        </p>
      </div>
      <div class="w-full">
        <h4 class="pb-4">Main Location</h4>
        <p><a target="_blank" href="https://www.google.com/search?q=9500%20SW%20Barbur%20Blvd%2C%20Ste%20110%20Portland%20OR%2097219-5425&ei=roBYZ6nNLdme0PEP8YrNmQE&ved=1t%3A3415">Kristin Square Office Building</a><br>
          Oak & Fern Psychotherapy, LLC<br>
          9500 SW Barbur Blvd, Suite #110<br>
          Portland, OR 97219
        </p>
      </div>
      <div class="w-full">
        <h4 class="pb-4">Social Media</h4>
        <a href="https://www.instagram.com/oakandfernpsychotherapy/" target="_blank"><Icon name="ion:logo-instagram"/></a>
      </div>

    </div>
  </section>
</footer>

<style lang="scss" is:global>
  .footer {
    background-color: #00563B;
    color: #F7F5F1;
  }
  a {
    color: #F7F5F1;
  }
</style>
